[Unit]
Description=AEAP SSL Tunnel
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3.11 -u /usr/local/bin/aeap-ssl-tunnel

[Install]
WantedBy=multi-user.target

